*{
    padding: 0;
    margin: 0;
}

body {
    background-color: yellow;
    padding: 19px 180px 20px 180px;
    border: 5px black solid;
}

.main{
    padding-left: 10px;
}

/* Top Right Bottom Left */

.red-box {
    display: inline-block;
    background-color: red;
    border: 5px black solid;
    padding: 300px 125px 300px 125px;
    margin: 25px 10px 25px 10px;
    

}
.green-box {
    display: inline-block;
    background-color: green;
    border: 5px black solid;
    padding: 300px 125px 300px 125px;
    margin: 25px 10px 25px 10px;
}

.blue-box {
    display: inline-block;
    background-color: blue;
    border: 5px black solid;
    padding: 300px 125px 300px 125px;
    margin: 25px 10px 25px 10px;
}

.purple-box {
    display: inline-block;
    background-color: purple;
    border: 5px black solid;
    padding: 300px 125px 300px 125px;
    margin: 25px 10px 25px 10px;
}